<div class="text-center">
	<h3><%= t('.verbs_count', verbes_count: verbs.count) %></h3>
</div>

<% if !verbs.empty?%>
<div class="text-center">
	<%= will_paginate verbs, :params => { :controller => "conjugaisons/verbes", :action => "index", :format => "html" },  renderer: BootstrapPagination::Rails %>
</div>
<div class="text-center col-md-10 col-md-offset-1">
	<table class="table verbs-table">
		<thead>
			<tr >
				<th class="text-center"><%= t '.verb_name' %></th>
				<th class="text-center"><%= t '.verb_group' %></th>
				<th class="text-center"><%= t '.verb_letters' %></th>

			</tr>
		</thead>

		<tbody>
			<% verbs.each do |verb| %>
			<tr>
				<td><span class="verb-name"><%= link_to verb.content, conjugaisons_verbe_path(verb) %></span></td>
				<td><%= verb.group %></td>
				<td><%= verb.letters_count %></td>

			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% else%>
<div class="nadvence-box box-title text-center">
	<%= t '.no_verb' %>
</div>
<% end %>

<br>
<div class="text-center">
	<%= will_paginate verbs, :params => { :controller => "conjugaisons/verbes", :action => "index", :format => "html" },  renderer: BootstrapPagination::Rails %>
</div>