<% content_for(:nav_conjug) do %>
true
<% end %>
<% provide(:title, t('.title', verbe: @verb.content.to_s) ) %>
<% provide(:description, t('.description', verbe: @verb.content.to_s) ) %>
<% provide(:keywords_french, "conjugaison, conjuguer, verbe, francaise, francais, conjuguer," + @verb.content.to_s + ", synonyme, synonymes, verbes, indicatif, subjonctif, impératif, infinitif, conditionnel, participe, gérondif, présent, imparfait, passé composé, passé simple, futur, futur simple, futur antérieur, plus que parfait, passé antérieur, passé")%>
<% provide(:keywords_english, "conjugation, conjuguer, verb, french, conjugate," + @verb.content.to_s + ", synonym, synonyms, verbs, indicative, subjunctive, imperative, infinitive, conditional, participle, present, imperfect, past perfect, future")%>

<p id="notice">
	<%= notice %>
</p>

<div class="row">
	
	<div class="col-sm-9 col-sm-offset-3">
	<h1 class="page-header text-center nadvence-box box-big-title"><%= t('.verb_h1') %> <strong class="color-nadvence"><%= @verb.content %></strong></h1>
		
		<% if !@verb.tense_entries.empty? %>
		<div class="text-right hidden-xs">
		<small class="small-text">
		<% Mode.order(:order).each do |mode|%>
		<em><%= link_to "#" + mode.name, ("#" + mode.name).to_s%></em>
		<% end %>
		</small>
		</div>
		
		<% Mode.order(:order).includes(:tenses).each do |mode|%>
		
			<% if mode.tenses_count <= 2 %>
			<div class="col-lg-6 col-md-6 col-sm-12">
			<% else %>
			<div class="col-lg-12 col-md-12 col-sm-12">
			<% end %>
		
		<span class="anchor" id="<%= mode.name %>"></span>
		<h2 class="text-center box-title color-nadvence page-header mode-title nadvence-box"><%= mode.name%></h2>

		<% mode.tenses.each do |tense|%>
		<% if mode.tenses_count <= 2 %>
			<div class="col-lg-6 col-md-6 col-sm-6">
		<% else %>
			<div class="col-lg-3 col-md-4 col-sm-6">
		<% end %>
		<h4 class="page-header tense-title"><%= tense.name %></h4>
		<ul class="tense-entries-li">
			<% @verb.tense_entries.where('tense_id = ?' , tense.id).order(:order).each do |entry| %>
			<li>
				
				<%= entry.total_content.html_safe%>
			
			</li>
			<% end %>
		</ul>
		</div>
		<% end %>
		</div>
		<% end %>

		<% else %>
		
		<div class="text-center alert alert-warning"><h3><%= t('.verb_in_loading') %></h3></div>
		<% end %>
		
	</div>
	
	<div class="col-sm-3 sidebar col-sm-push-9">
		<div class="nadvence-box col-md-12">
			<div class="box-title">
				<%= t('.verb_information') %>
			</div>
			<p>
				<strong><%= t('.verb_group') %> :</strong>
				<%= @verb.group %>
			</p>

			<p>
				<strong><%= t('.verb_employ') %> :</strong>
				<%= @verb.employ %>
			</p>

			<p>
				<strong><%= t('.verb_auxiliary') %> :</strong>
				<% if @verb.auxiliary.nil? or @verb.auxiliary.empty? %>
					
				<% else%>
				
				<%= strip_tags(@verb.auxiliary).html_safe %>
				<%end %>
			</p>

			
		</div>
		<div class="nadvence-box col-md-12">
			<div class="box-title">
				<%= t('.verb_definition') %>
			</div>
			<% if @verb.definition.nil? or @verb.definition.empty? %>
			<%= t('.verb_no_definition') %>
			<% else%>
			<%= @verb.definition.html_safe %>
			
			<% end %>
		</div>
		<div class="nadvence-box col-md-12">
			<div class="box-title">
				<%= t('.verb_synonyms') %>
			</div>

			<% @verb.synonyms.each do |verb|%>

			<%= link_to verb.content.to_s, conjugaisons_verbe_path(verb) %>

			<% end%>

			<% if @verb.synonyms.empty?%>

			<%= t('.verb_no_synonyms') %>

			<% end %>
		</div>
		
		<div class="nadvence-box col-md-12">
			<div class="box-title">
				<%= t('.verb_close_verbs') %>
			</div>

			<% @verb.similar_verbs.each do |verb| %>
			<%= link_to verb.content.to_s, conjugaisons_verbe_path(verb) %>
			<% end %>
			<% if @verb.similar_verbs.empty?%>

			<%= t('.verb_no_close_verbs') %>

			<% end %>
		</div>
	</div>
	
</div>