<div class="navbar navbar-default navbar-fixed-top navbar-nadvence" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand nadvence-family navbar-h1" href="<%= root_path %>"><i class="fa fa-dot-circle-o"></i>  <%= content_for?(:project_name) ? yield(:project_name) : I18n.t('.website_name') %></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
            <li><%= link_to t('.verbs_list'), conjugaisons_verbes_path, :class => "nadvence-family" %></li>
            
          
            
            
          </ul>
          
          <% if content_for?(:nav_conjug) %>
          <%= form_tag({controller: "conjugaisons/verbes", action: "search"}, method: "get", class: "navbar-form navbar-left") do %>
         
          
		<div class="form-group">
			
			<%= text_field_tag(:verb, nil, :id => "search-nav", :class => "form-control typeahead-nav nav-search-input input-lg", :autocomplete => "off", :placeholder => t('.placeholder'), :data => {'provide' => "typeahead", 'items'=>"4" }) %>
			
		</div>
		
			
			<%= submit_tag(t('.button'), :class => "btn btn-warning nadvence-family btn-lg") %>
		
		<% end %>
		 <% end %>
		 
          
			<ul class="nav navbar-nav navbar-right">
				
				<li class="facebook-bg"><a href="https://www.facebook.com/rebbleit" target="_blank" title="Facebook link"><i class="fa fa-facebook fa-lg"></i></a></li>
				<li class="twitter-bg"><a href="https://twitter.com/rebble_it"  target="_blank" title="Twitter link"><i class="fa fa-twitter fa-lg"></i></a></li>
				<li class="google-plus-bg"><a href="https://plus.google.com/+Lesconjugaisonsdes-verbes-francais"  target="_blank" title="Google plus link"><i class="fa fa-google-plus fa-lg"></i></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle nadvence-family" data-toggle="dropdown"  title="Language selector"><%= I18n.locale.to_s %> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
							<% I18n.available_locales.each do |l| %>
								<li>
									<%= link_to l.to_s, :locale => l.to_s %>
								</li>
							<% end %>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<script>
	$(function() {

		$(".typeahead-nav").autocomplete({
			limit : 15,
			source : '/conjugaisons/verbes/autocomplete.json'
		});
	}); 
</script>