<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
	<head>
		<%= render partial: 'layouts/meta_common' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= render partial: 'layouts/meta_social_analytics' %>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render partial: 'layouts/navbar' %>

		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-md-12">
					<!-- Return to Top -->
					<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>

					<%= yield %>
				</div>
			</div>
		</div>

		<div class="modal fade" id="layout-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							x
						</button>
						<h4 class="modal-title green"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button class="btn btn-danger" data-dismiss="modal">
							<%= t('modal_close') %>
						</button>
					</div>
				</div>
			</div>
		</div>

		

		<%= render partial: 'layouts/end_scripts' %>

		<script>
			$(function() {

				$(window).scroll(function() {
					if ($(this).scrollTop() >= 50) {// If page is scrolled more than 50px
						$('#return-to-top').fadeIn(200);
						// Fade in the arrow
					} else {
						$('#return-to-top').fadeOut(200);
						// Else fade out the arrow
					}
				});
				$('#return-to-top').click(function() {// When arrow is clicked
					$('body,html').animate({
						scrollTop : 0 // Scroll to top of body
					}, 500);
				});

			});
		</script>
		
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5295de8d2a21d3cb" async data-turbolinks-eval=false></script>

	</body>
</html>
